#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define LY_DEFAULT 0
#define LY_LWR 1
#define LY_RSE 2
#define LY_ADJ 3

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// Base layer
// --------------------------------------------------------------------------------------------------------------------
// |  ESC  |   1   |   2   |   3   |   4   |   5   |            |   6   |   7   |   8   |   9   |   0   |   -      |
// |  TAB  |   Q   |   W   |   E   |   R   |   T   |            |   Y   |   U   |   I   |   O   |   P   |   |      |
// | SHIFT |   A   |   S   |   D   |   F   |   G   |            |   H   |   J   |   K   |   L   |   ;   |   '      |
// | CTRL  |   Z   |   X   |   C   |   V   |   B   |            |   N   |   M   |   ,   |   .   |   ?   | BT CLEAR |
//                         |  GUI  | SPACE | LOWER |            | RAISE | ENTER | RAISE |  
//                                 | ALT   |  BSPC |            |  DEL  |  CTRL |
            bindings = <
&kp ESC     &kp N1  &kp N2  &kp N3      &kp N4      &kp N5      &kp N6      &kp N7       &kp N8       &kp N9     &kp N0       &kp MINUS
&kp TAB     &kp Q   &kp W   &kp E       &kp R       &kp T       &kp Y       &kp U        &kp I        &kp O      &kp P        &kp PIPE
&kp LSHFT   &kp A   &kp S   &kp D       &kp F       &kp G       &kp H       &kp J        &kp K        &kp L      &kp ;        &kp PIPE
&kp LCTRL   &kp Z   &kp X   &kp C       &kp V       &kp B       &kp N       &kp M        &kp COMMA    &kp DOT    &kp QMARK    &bt BT_CLR_ALL
                            &kp LGUI    &kp SPACE   &mo LY_LWR  &mo LY_RSE  &kp ENTER    &kp RGUI 
                                        &kp LALT    &kp BSPC    &kp DEL     &kp RCTRL
            >;
        };

        layer_1 { // Qwerty layer
            bindings = <
                &kp GRAVE   &kp N1      &kp N2      &kp N3      &kp N4      &kp N5      &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp BSLH
                &kp TAB     &kp Q       &kp W       &kp E       &kp R       &kp T       &kp Y       &kp U       &kp I       &kp O       &kp P       &kp EQUAL
                &kp LBKT    &kp A       &kp S       &kp D       &kp F       &kp G       &kp H       &kp J       &kp K       &kp L       &kp SQT    &kp RBKT
                &kp MINUS   &kp Z       &kp X       &kp C       &kp V       &kp D       &kp N       &kp M       &kp COMMA   &kp DOT     &kp SEMI   &kp FSLH
                                &kp LCTRL   &mo 2       &kp LSHFT   &kp RSHFT   &kp ESC     &kp RGUI 
                                            &kp LALT    &kp SPACE   &kp BSPC    &kp ENTER
            >;
        };

        layer_2 { // Function and Media Keys layer
            bindings = <
                &kp CAPS      &kp F1      &kp F2      &kp F3      &kp F4      &kp F5      &kp F6      &kp F7      &kp F8      &kp F9      &kp F10     &kp F11
                &kp C_NEXT    &kp C_PP   &kp C_VOL_DN   &kp C_VOL_UP   &kp PG_UP    &kp HOME   &none      &none      &kp PSCRN   &kp PAUS    &none  &kp F12
                &kp C_PREV    &kp LEFT    &kp DOWN   &kp UP      &kp RIGHT   &kp DEL   &none       &kp RA(Q)  &kp RA(W)  &kp RA(E)  &kp LCTRL      &none
                &kp F13     &kp F14    &kp F15    &kp F16    &kp PG_DN   &kp END   &none      &none     &kp INS    &kp SLCK   &none     &tog 1
                                &kp LCTRL   &mo 2      &kp LSHFT   &kp RSHFT  &kp ESC    &kp RGUI 
                                            &kp LALT   &kp SPACE  &kp BSPC    &kp ENTER
            >;
        };

        layer_3 { // Empty layer
            bindings = <
                &none   &none   &none   &none   &none   &none   &none   &none   &none   &none   &none   &none
                &none   &none   &none   &none   &none   &none   &none   &none   &none   &none   &none   &none
                &none   &none   &none   &none   &none   &none   &none   &none   &none   &none   &none   &none
                &none   &none   &none   &none   &none   &none   &none   &none   &none   &none   &none   &none
                                        &none   &none   &none   &none   &none   &none
                                                &none   &none   &none   &none
            >;
        };
    };
};
